
@{
    ViewBag.Title = "Payment Cancelled";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="page-about about_area bg--white section-padding--lg">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-12">
                <div class="page-content">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-12">
                                <br />
                                <h3>Sorry, the payment was cancelled</h3>
                                <p>Your payment was not successful. Please try again.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
